<table>
    <tbody>
        <%= @songs.each do |song| %>
            <tr>
                <td><%= song.title %></td>
                <td><%= link_to "Delete", song, method: :destroy, data: { confirm: "Really?" } %></td>
            </tr>
        <% end %>
    </tbody>
</table>