/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

td, th {
	text-align: left;
}

table {
	width: 50%;
	margin-bottom: 2%;
}

a  {
	text-decoration: none;
}

body>a, input {
	color: blue;
	font-size: 1rem;
	border: solid black 1px;
	border-radius: 20px;
	padding: .5rem 1rem;
}

form {
	margin-bottom: 2%;
}

input {
	background: none;
	cursor: pointer;
}

.title {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}


.title>h1 {
	margin-right: 3rem;
}